<h1>Step 1: Choose your Model and color</h1>
<div>
  <label for="modelSelect">Model:</label>

  <select
    bindLabel="description"
    [(ngModel)]="selectedModel"
    id="modelSelect"
  >
    <option selected [ngValue]="undefined">Choose...</option>
    <option *ngFor="let model of models" [ngValue]="model">
      {{ model.description }}
    </option>
  </select>

  @if(selectedModel){
  <label for="colorSelect">Color:</label>

  <select
    bindLabel="description"
    [(ngModel)]="selectedColor"
    id="colorSelect"
  >
    <option *ngFor="let color of selectedModel.colors" [ngValue]="color">
      {{ color.description }}
    </option>
  </select>
  }
</div>
